# Base de datos
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=

# Backend
BACKEND_PORT=3000
NODE_ENV=development

# pgAdmin
PGADMIN_EMAIL=colabs@admin.com
PGADMIN_PASSWORD=***REMOVED***

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# OAuth — Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# OAuth — Facebook
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=